@orange : #EF693A;
@gray-lighter: #ecf0f1;
@gray-light: #ddd;
@gray_dark : #424444;
@blue : #3A4E59;
@blue_light : #68A4AD;
@green : #22B28C;
@block-space: 5px;
@white : white;



.home-slider .block {
    //background: green;
}

.home-slider .block .block-body {
    display: inline-block;
    //padding: 10px;
    background-color: rgb(58,78,89);
    background-color: rgba(58,78,89, 0.8);
}
.home-slider .block,
.home-slider .carousel-inner{
    height: 110px;
}
.home-slider .block .block-image {
    display: inline-block;
    float: left;
    width: 100px;
    height: 100px;
    //background: red;
    border: solid 3px white;
}
.home-slider .block .block-info {
    display: inline-block;
    float: left;
    padding: 10px;
    text-align: left;
}

.opacity-0-7 {
    opacity: 0.7;
}

.border-radius-4 {
    border-radius: 4px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-28 {
    padding-bottom: 28px;
}

.padding-top-bottom-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-top-bottom-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-left-right-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-left-right-80 {
    padding-left: 80px;
    padding-right: 80px;
}

.padding-right-30 {
    padding-right: 30px;
}

.margin-right-100 {
    margin-right: 100px;
}

.min-width-400 {
    min-width: 400px;
}

.min-width-300 {
    min-width: 300px;
}

.margin-right--5 {
    margin-right: -5px;
}

.tera-home-search-button {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.display-inline {
    display: inline-block;
}

.height-32 {
    height: 32px;
}

.background-gray-dark-opacity {
    background-color:rgba(58,78,89,0.7);
}

.background-gray {
    background-color: @gray-light;
}

.background-blue-dark {
    background-color: @blue;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-11 {
    font-size: 11px;
}

.font-white-color {
    color: white;
}

.font-gray-color {
    color: @gray-light;
}

.cursor-pointer {
    cursor: pointer;
}


.my-group .form-control:focus {
    border-color: @gray-light;
}
.my-group .form-control:first-child{
    width:45% !important;
    //-webkit-appearance: none;
}
.my-group .form-control:nth-child(2){
    width:55% !important;
}

.home-search-panel {
    padding-top: 170px;
    padding-bottom: 120px;
}

@media(max-width:767px){
    .tera-home-search-text {
        //min-width: auto;
    }
    .menu-border-right {
        border-right: none;
        padding-bottom: 30px;
    }
    .tera-advance-search-text {

    }
    .home-search-panel {
        padding-top: 50px;
        padding-bottom: 60px;
    }
}
@media(min-width:768px){
    .tera-home-search-text {
        min-width: 400px;
    }
    .menu-border-right {
        border-right: solid 1px;
    }
    .tera-advance-search-text {
        min-width: 218px;
    }
    .my-group .form-control:first-child{
        width:30% !important;
        //-webkit-appearance: none;
    }
    .my-group .form-control:nth-child(2){
        width:70% !important;
    }
}
@media(min-width:992px){
    .tera-home-search-text {
        min-width: 400px;
    }
    .tera-advance-search-text {
        min-width: 218px;
    }

}
@media(min-width:1200px){
    .home-slider .block .block-info {
        min-width: 320px;
    }
}

@media(min-width:1800px){

}

#tera-home .img-border-5 {
    border:5px solid white;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.padding-10 {
    padding: 10px;
}

.margin-top-bottom-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* tera panel bottom menu */
.panel.panel-tera-bottom-menu {
  box-shadow: none;
}
.panel.panel-tera-bottom-menu>.panel-heading{
    border-radius: 0;
    border: none;
    font-weight: bold;
    height: 30px;
    padding: 0 10px 0 10px;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden !important;
}

.panel.panel-tera-bottom-menu>.panel-heading>.title{
	padding-bottom: 2px;
	padding-right: 20px;
    text-transform: capitalize;
    font-weight: bold;
}

.panel.panel-tera-bottom-menu>.panel-heading>.glyphicon-minus{
	color: @orange;
    font-size: 20px;
    vertical-align: middle;
    padding-bottom: 6px;
}
/* end of tera panel bottom menu */

/* tera panel default */
.panel.panel-tera-home {
    box-shadow: none;
    padding-top: 10px;
    border: solid 1px @gray-light;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.panel.panel-tera-home>.panel-heading {
    border-radius: 0;
    border: none;
    border-bottom: solid 1px @gray_dark;
    font-weight: bold;
    height: 30px;
    padding: 0 10px 0 10px;
    line-height: 30px;
    position: relative;
}

.panel.panel-tera-home>.panel-heading>span { 
	border-bottom: solid 3px @gray_dark;
	padding-right: 20px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    left: 0;
}

.panel.panel-tera-home>.panel-heading>button {
	font-size: 11px;
	//padding-top: 10px;
    padding-right: 0;
}
/* end tera panel default */

.border-right {
    border-right: solid 1px;
}

.height-50 {
    height: 50px;
}

.height-100 {
    height: 100px;
}

.vertical-middle {
    vertical-align: middle;
}

.max-height-150 {
    max-height: 150px;
}

.max-height-200 {
    max-height: 200px;
}

.background-white-color {
    background-color: @white;
}

.filter-by {
    position: absolute;
    right: 150px;
    top: -3px;
}

.navbar {
    background-color: rgb(58,78,89);
    background-color: rgba(58,78,89, 0.9);
}

.tera-link {
    outline: none !important;
} 

.free-posting-panel {
    margin-top: 60px;
}
.free-posting-panel {
    background-color: transparent;
    box-shadow: none;
    margin-left: 10px;
    margin-right: 10px;
}