@orange : #EF693A;
@gray-light: #ddd;
@gray_dark : #424444;
@blue : #3A4E59;
@blue_light : #68A4AD;
@green : #22B28C;
@block-space: 5px;

.google-map {
  width: 100%;
  height:100%;
}

html, body {
  height: 100%;
  margin: 0; padding: 0;  /* to avoid scrollbars */
}